include "~/.nano/aptsrclist.nanorc"
include "~/.nano/bash.nanorc"
include "~/.nano/c.nanorc"
include "~/.nano/coffee.nanorc"
include "~/.nano/conky.nanorc"
include "~/.nano/css.nanorc"
include "~/.nano/delphi.nanorc"
include "~/.nano/desc.nanorc"
include "~/.nano/dotemacs.nanorc"
include "~/.nano/ekghistory.nanorc"
include "~/.nano/etc-stuff.nanorc"
include "~/.nano/fortran.nanorc"
include "~/.nano/gentoo.nanorc"
include "~/.nano/groff.nanorc"
include "~/.nano/haskell.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/ini.nanorc"
include "~/.nano/java.nanorc"
include "~/.nano/js.nanorc"
include "~/.nano/lex.nanorc"
include "~/.nano/makefile.nanorc"
include "~/.nano/man.nanorc"
include "~/.nano/markdown.nanorc"
include "~/.nano/mcchangelog.nanorc"
include "~/.nano/nanorc.nanorc"
include "~/.nano/nscd.nanorc"
include "~/.nano/passwd.nanorc"
include "~/.nano/perl.nanorc"
include "~/.nano/php.nanorc"
include "~/.nano/po.nanorc"
include "~/.nano/pov.nanorc"
include "~/.nano/privoxy.nanorc"
include "~/.nano/profile.nanorc"
include "~/.nano/python.nanorc"
include "~/.nano/reST.nanorc"
include "~/.nano/rsync.nanorc"
include "~/.nano/ruby.nanorc"
include "~/.nano/sql.nanorc"
include "~/.nano/tab.nanorc"
include "~/.nano/tcl.nanorc"
include "~/.nano/tex.nanorc"
include "~/.nano/todo.nanorc"
include "~/.nano/urls.nanorc"
include "~/.nano/vhost.nanorc"
include "~/.nano/xdefaults.nanorc"
include "~/.nano/xml.nanorc"
include "~/.nano/xorg.nanorc"
include "~/.nano/yacc.nanorc"
